@page "/project/{projectId:int}"
@using JoshWebTemplate.Core.Models.Account
@using JoshWebTemplate.Core.Models.CompanyProjects
@using JoshWebTemplate.Core.Services.Account.Api
@using JoshWebTemplate.Core.Services.CompanyProjects.Api
@using JoshWebTemplate.Providers.Auth

@inject UserContext UserContext
@inject NavigationManager Navigation
@inject ICompanyProjectsApiService CompanyProjectsApiService
@inject IAccountApiService AccountApiService

<div class="px-8">
    <div class="d-flex justify-space-between align-center mb-4">
        <MudText Typo="Typo.h2">@item.Title</MudText>
        @if (CanEditOrDelete == true)
        {
            <div class="d-flex gap-2">
                <MudButton EndIcon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Secondary" OnClick="DeleteTaskAsync">Delete</MudButton>
            </div>
        }
    </div>

    <MudText Typo="Typo.body1" Class="mb-4">
        @item.Description
    </MudText>

    <MudText Typo="Typo.caption" Color="Color.Secondary">
        Created on: @item.CreatedDate.ToShortDateString()
        Created by: @creater.Firstname @creater.Lastname
    </MudText>
</div>

@code {
    [Parameter] public int projectId { get; set; }
    private CompanyProjectModel item = new();
    public UserModel creater = new();
    public UserModel userModel = new();
    public bool CanEditOrDelete = false;

    protected override async Task OnInitializedAsync()
    {
        await UserContext.EnsureUserAsync();

        userModel = await AccountApiService.GetCurrentUserModelAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        item = await CompanyProjectsApiService.GetCompanyProjectByIdAsync(projectId);
        creater = await AccountApiService.GetUserModelByProfileIdAsync(item.CreatedById);

        if (userModel.Role == "admin")
        {
            CanEditOrDelete = true;
        }
    }

    private async Task DeleteTaskAsync()
    {
        var result = await CompanyProjectsApiService.DeleteCompanyProjectAsync(item.Id);

        if (result.IsSuccess)
        {
            Navigation.NavigateTo("/");
        }
    }
}
